body, html {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        height: 100vh;
        overflow: hidden;
        background-color: #d4d4d4;
      }
body {
  margin: 0;
  height: 100dvh;
  background-color: #ddd;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 1rem;
}

.back {
    background-color: #fff;
    border-radius: 10px;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 0.25rem;
    padding: 1rem;

    &-title {
        display: flex;
        gap: 0.25rem;
        align-items: center;
    }
}